* {
    padding: 0;
    margin: 0;
}

.titulo {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

img {
    max-width: 250px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 30px;
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"],
input[type="tel"],
select,
input[type="date"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
.calendar-container {
max-width: 400px;
margin: 0 auto;
}

#calendar {
width: 100%;
border-collapse: collapse;
}

#calendar th,
#calendar td {
padding: 10px;
text-align: center;
border: 1px solid #ddd;
cursor: pointer;
}

#calendar th {
background-color: #f2f2f2;
}

.selectable {
    background-color: #76e67a;
}

.selected {
    background-color: #357538;
    color: white;
}

.tabela {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.styled-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }